@import url("https://cdn.jsdelivr.net/gh/elte-fi/www-assets@19.10.16/styles/mdss.min.css");

canvas {
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}