@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Light', sans-serif;
    margin: 0;
    padding: 0;
}

/* OVERLAY ÉS POPUP */
.popup_hidden{
    display: none;
}

.popup_shown{
    background: #1f6adb;
    color: #f1f2f1;

    width: 60%;
    height: 400px;
    position: absolute;
    left: 20%;
    top: 200px;
    z-index: 2;
    text-align: center;

    -webkit-box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.58);
    box-shadow: 2px 6px 5px 0px rgba(0,0,0,0.58);
}

#popup div{
    padding: 2px;
    font-size: 2em;
    margin-left: 15px;
}

#popup span{
    font-size: 1em;
}

#popup_title, #popup_desc{
    height: 175px;
}

.overlay_hidden{
    display: none;
}
.overlay_shown{  /* ez azért hasznos, mert elkap minden kattintást, így nem tudunk semmit csinálni az oldalon addig*/
    background: black;
    opacity: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    padding-bottom: 100px;
}
/* /OVERLAY ÉS POPUP */


header{
    margin-top: -50px;
    padding-top: 75px;
    padding-left: 5px;
    padding-bottom: 2px;

    background: #1f6adb;

    color: #f1f2f1;
}

span{
    width: 20%;
    padding: 2px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    font-size: 2em;
    margin-left: 15px;
}

span:hover{
    background: #164da0
}

#game_area{
    padding: 5px;
}

pre{
    font-family: 'Roboto Light', sans-serif;
}




table, tr, td{
    border-collapse: collapse;
}
table{
    margin: 15px;
    -webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.58);
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.58);

    text-align: center;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
td{
    width: 50px;
    height: 50px;
}

/* színek */
.c0{
    background-color: #ffffff;
    color: #ffffff;
}
.c1{
    background-color: #77a83e;
    color: #77a83e;
}
.c2{
    background-color: #49a9d6;
    color: #49a9d6;
}
.c3{
    background-color: #bf1515;
    color: #bf1515;
}
.c4{
    background-color: #ffd51c;
    color: #ffd51c;
}
.c5{
    background-color: #ca2fb0;
    color: #ca2fb0;
}
.c6{
    background-color: #49c0cf;
    color: #49c0cf;
}
.c7{
    background-color: #703838;
    color: #703838;
}
.c8{
    background-color: #598869;
    color: #598869;
}
.c9{
    background-color: #a682d4;
    color: #a682d4;
}
.c10{
    background-color: #e07014;
    color: #e07014;
}
.c11{
    background-color: #ff1ca0;
    color: #ff1ca0;
}
/* /színek */


